@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-primary bg-neutral-950 text-white;
}
@layer base {
	/* Dành cho trình duyệt WebKit (Chrome, Safari, Edge) */

	::-webkit-scrollbar {
		width: 14px;
	}
	::-webkit-scrollbar-thumb {
		background-color: hsla(0, 0%, 100%, 0.3);
	}

	:hover::-webkit-scrollbar-thumb {
		background-color: #b3b3b3;
	}
	body::-webkit-scrollbar {
		display: none;
	}
}
