@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-primary bg-neutral-950 text-white;
}
@layer base {
	/* Dành cho trình duyệt WebKit (Chrome, Safari, Edge) */
	::-webkit-scrollbar {
		@apply w-2 h-2;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-transparent rounded-full transition-colors duration-300;
	}

	/* Hiện scrollbar khi hover */
	:hover::-webkit-scrollbar-thumb {
		@apply bg-[#535353];
	}

	/* Scrollbar khi active */
	:active::-webkit-scrollbar-thumb {
		@apply bg-[#b3b3b3];
	}

	/* Dành cho Firefox */
	html {
		scrollbar-color: transparent transparent; /* thumb và track */
		scrollbar-width: thin;
	}

	html:hover {
		scrollbar-color: #535353 transparent;
	}

	html:active {
		scrollbar-color: #b3b3b3 transparent;
	}
}
