@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-primary bg-neutral-950 text-white;
}
@layer base {
	/* Dành cho trình duyệt WebKit (Chrome, Safari, Edge) */

	::-webkit-scrollbar {
		width: 14px;
	}
	::-webkit-scrollbar-thumb {
		background-color: hsla(0, 0%, 100%, 0.3);
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: hsla(0, 0%, 100%, 0.5);
	}
	::-webkit-scrollbar-thumb:active {
		background-color: hsla(0, 0%, 100%, 0.7);
	}

	body::-webkit-scrollbar {
		display: none;
	}
	body {
		overflow: hidden; /* Ẩn scrollbar toàn bộ */
	}
}
